<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="10">
    <metadata key="name" value="plate_caribbean.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="plate_caribbean.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_caribbean.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="25.582618653774261"/>
      <metadata key="source_offset_y" value="14.62950611114502"/>
      <metadata key="source_offset_z" value="88.779430389404297"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="12">
    <metadata key="name" value="plate_nazca.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="11" subtype="normal_part">
      <metadata key="name" value="plate_nazca.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_nazca.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.0024871826171875"/>
      <metadata key="source_offset_y" value="-29.401700973510742"/>
      <metadata key="source_offset_z" value="82.930095672607422"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="14">
    <metadata key="name" value="plate_scotia.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="13" subtype="normal_part">
      <metadata key="name" value="plate_scotia.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_scotia.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="32.216476440429688"/>
      <metadata key="source_offset_y" value="-81.760585784912109"/>
      <metadata key="source_offset_z" value="39.248382568359375"/>
      <metadata key="extruder" value="4"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="16">
    <metadata key="name" value="plate_australia1.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="15" subtype="normal_part">
      <metadata key="name" value="plate_australia1.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_australia1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-30.57518196105957"/>
      <metadata key="source_offset_y" value="-59.22540283203125"/>
      <metadata key="source_offset_z" value="-38.281473159790039"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="18">
    <metadata key="name" value="plate_australia2.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="17" subtype="normal_part">
      <metadata key="name" value="plate_australia2.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_australia2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-28.718427658081055"/>
      <metadata key="source_offset_y" value="-27.313301205635071"/>
      <metadata key="source_offset_z" value="-43.842974185943604"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="20">
    <metadata key="name" value="plate_antarctica1.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="19" subtype="normal_part">
      <metadata key="name" value="plate_antarctica1.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_antarctica1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-8.9766120910644531"/>
      <metadata key="source_offset_y" value="-71.496116638183594"/>
      <metadata key="source_offset_z" value="-3.73089599609375"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="55">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <metadata key="infill_direction" value="45"/>
    <metadata key="sparse_infill_density" value="5%"/>
    <part id="51" subtype="normal_part">
      <metadata key="name" value="mantle5.obj"/>
      <metadata key="matrix" value="1 2.0365653599999999e-15 2.0868592799999999e-08 -43.281084999999997 1.3877787800000001e-16 -1 9.6615032199999996e-08 60.599695699999998 2.0868592799999999e-08 -9.6615032199999996e-08 -1 -0.29787386399999999 0 0 0 1"/>
      <metadata key="source_file" value="mantle5.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-48.068303681910038"/>
      <metadata key="source_offset_y" value="-47.934438139200211"/>
      <metadata key="source_offset_z" value="-47.793342113494873"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="52" subtype="normal_part">
      <metadata key="name" value="mantle6.obj"/>
      <metadata key="matrix" value="1.5026255100000001e-07 -1.2776802600000001e-08 1 58.696163300000002 -1.2776802600000001e-08 1 1.27768045e-08 -40.930565299999998 -1 -1.27768045e-08 1.5026255100000001e-07 3.1345900399999999e-06 0 0 0 1"/>
      <metadata key="source_file" value="mantle6.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-48.054143339395523"/>
      <metadata key="source_offset_y" value="-47.913587316870689"/>
      <metadata key="source_offset_z" value="47.880298458039761"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="53" subtype="normal_part">
      <metadata key="name" value="mantle7.obj"/>
      <metadata key="matrix" value="2.2204460500000001e-16 -1 0 58.739686300000002 1 2.2204460500000001e-16 0 60.631189300000003 0 0 1 -0.34731976399999998 0 0 0 1"/>
      <metadata key="source_file" value="mantle7.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="47.864962868392467"/>
      <metadata key="source_offset_y" value="-47.995728880167007"/>
      <metadata key="source_offset_z" value="47.803551562130451"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="54" subtype="normal_part">
      <metadata key="name" value="mantle8.obj"/>
      <metadata key="matrix" value="1.27521235e-07 1 1.2752121899999999e-07 -42.777152600000001 1.28704725e-07 -1.27521235e-07 1 -41.147804200000003 1 -1.2752121799999999e-07 -1.28704741e-07 -0.20463330199999999 0 0 0 1"/>
      <metadata key="source_file" value="mantle8.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="47.888056732714176"/>
      <metadata key="source_offset_y" value="-47.963073574006557"/>
      <metadata key="source_offset_z" value="-47.787019349634647"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="60">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <metadata key="infill_direction" value="45"/>
    <metadata key="sparse_infill_density" value="5%"/>
    <part id="56" subtype="normal_part">
      <metadata key="name" value="mantle1.obj"/>
      <metadata key="matrix" value="2.2204460500000001e-16 0 1 58.661942699999997 0 1 0 64.0396547 -1 0 2.2204460500000001e-16 -1.9073486299999999e-06 0 0 0 1"/>
      <metadata key="source_file" value="mantle1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-48.071501523256302"/>
      <metadata key="source_offset_y" value="47.926704749464989"/>
      <metadata key="source_offset_z" value="47.873504981398582"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="57" subtype="normal_part">
      <metadata key="name" value="mantle2.obj"/>
      <metadata key="matrix" value="2.2204460500000001e-16 -1 0 -43.363229500000003 1 2.2204460500000001e-16 0 64.0546693 0 0 1 -0.36744499200000003 0 0 0 1"/>
      <metadata key="source_file" value="mantle2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="47.883689537644386"/>
      <metadata key="source_offset_y" value="47.953285746276379"/>
      <metadata key="source_offset_z" value="47.850384600460529"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="58" subtype="normal_part">
      <metadata key="name" value="mantle3.obj"/>
      <metadata key="matrix" value="3.1216995700000002e-07 1.7319538600000001e-07 1 -43.225106099999998 1.7319538600000001e-07 -1 1.73195332e-07 -37.5153836 1 1.73195332e-07 -3.1216998699999997e-07 -0.208837465 0 0 0 1"/>
      <metadata key="source_file" value="mantle3.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="47.869745500385761"/>
      <metadata key="source_offset_y" value="48.000408016145229"/>
      <metadata key="source_offset_z" value="-47.778839640319347"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="59" subtype="normal_part">
      <metadata key="name" value="mantle4.obj"/>
      <metadata key="matrix" value="2.9310021699999999e-09 1 -1.44472118e-07 59.375294099999998 1 -2.9310021699999999e-09 -1.03205433e-17 -38.138909099999999 -4.33768635e-16 -1.44472118e-07 -1 -0.290923975 0 0 0 1"/>
      <metadata key="source_file" value="mantle4.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-48.065966583788395"/>
      <metadata key="source_offset_y" value="47.960006736218929"/>
      <metadata key="source_offset_z" value="-47.803663186728954"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="65">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <part id="61" subtype="normal_part">
      <metadata key="name" value="plate_arabia.obj"/>
      <metadata key="matrix" value="0.30419424 0.40057439900000003 0.86429509699999996 14.5095183 -0.59049131899999996 -0.63266832500000003 0.50104969099999996 12.105382199999999 0.74751981000000001 -0.66277518199999996 0.044081644500000003 -23.254448400000001 0 0 0 1"/>
      <metadata key="source_file" value="plate_arabia.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="56.872098922729492"/>
      <metadata key="source_offset_y" value="42.661144256591797"/>
      <metadata key="source_offset_z" value="-54.763001441955566"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="62" subtype="normal_part">
      <metadata key="name" value="plate_okhotsk.obj"/>
      <metadata key="matrix" value="-0.500270557 -0.62713043599999996 -0.59702327200000005 26.409644799999999 0.48308657900000002 -0.77437261800000001 0.40862501699999998 22.071242600000001 -0.71857965899999998 -0.083990865499999998 0.69035411800000002 -28.2695103 0 0 0 1"/>
      <metadata key="source_file" value="plate_okhotsk.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-49.393447875976562"/>
      <metadata key="source_offset_y" value="72.17633056640625"/>
      <metadata key="source_offset_z" value="-31.200296401977539"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="63" subtype="normal_part">
      <metadata key="name" value="plate_yangtze.obj"/>
      <metadata key="matrix" value="0.98885717200000001 -0.148775927 0.0052168882999999999 -47.609925699999998 -0.088670530799999994 -0.56048643300000001 0.82340299800000005 9.7830585499999998 -0.11957855000000001 -0.81469054399999996 -0.56743306900000001 -25.062290699999998 0 0 0 1"/>
      <metadata key="source_file" value="plate_yangtze.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-39.96484375"/>
      <metadata key="source_offset_y" value="44.06574821472168"/>
      <metadata key="source_offset_z" value="-73.899192810058594"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="64" subtype="normal_part">
      <metadata key="name" value="plate_pacific1.obj"/>
      <metadata key="matrix" value="0.302594953 0.37844374400000003 0.87476661300000003 -0.10522342599999999 0.94218629099999995 -0.25738328599999999 -0.21456662800000001 1.5156217700000001 0.14394890699999999 0.88911988900000005 -0.43444739100000002 -12.948882899999999 0 0 0 1"/>
      <metadata key="source_file" value="plate_pacific1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-67.741123199462891"/>
      <metadata key="source_offset_y" value="42.318140149116516"/>
      <metadata key="source_offset_z" value="4.774139404296875"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="4">
    <metadata key="name" value="core_inner.obj"/>
    <metadata key="enable_support" value="0"/>
    <metadata key="extruder" value="5"/>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="core_inner.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="core_inner.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-9.6123335622251034"/>
      <metadata key="source_offset_y" value="9.5367431640625e-07"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="5"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="6">
    <metadata key="name" value="core_outer.obj"/>
    <metadata key="brim_type" value="outer_only"/>
    <metadata key="extruder" value="7"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="core_outer.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="core_outer.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-27.774767450988293"/>
      <metadata key="source_offset_y" value="28.031606294214725"/>
      <metadata key="source_offset_z" value="3.814697265625e-06"/>
      <metadata key="extruder" value="7"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="41">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <part id="37" subtype="normal_part">
      <metadata key="name" value="plate_amur.obj"/>
      <metadata key="matrix" value="0.54968087200000004 -0.742720202 0.38238415399999998 10.863369 -0.43787841100000002 -0.64598643 -0.62527116299999996 -5.2723823000000003 0.71141650000000001 0.17626183200000001 -0.680307526 -14.664492900000001 0 0 0 1"/>
      <metadata key="source_file" value="plate_amur.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-38.447532176971436"/>
      <metadata key="source_offset_y" value="66.924997329711914"/>
      <metadata key="source_offset_z" value="-52.537826538085938"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="38" subtype="normal_part">
      <metadata key="name" value="plate_cocos.obj"/>
      <metadata key="matrix" value="-0.060420281700000002 0.016884220799999999 0.99803021599999997 9.6173132700000004 0.99267096499999996 -0.103820313 0.061852219899999998 -44.941360000000003 0.104660136 0.99445274699999997 -0.010487623200000001 -17.9729542 0 0 0 1"/>
      <metadata key="source_file" value="plate_cocos.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-6.550872802734375"/>
      <metadata key="source_offset_y" value="16.388941943645477"/>
      <metadata key="source_offset_z" value="94.111968994140625"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="39" subtype="normal_part">
      <metadata key="name" value="plate_somalia.obj"/>
      <metadata key="matrix" value="-0.85705566399999999 0.25032756900000003 0.45032399200000001 -3.5460623999999998 0.17931344599999999 0.96431730999999998 -0.19477888300000001 3.84980798 -0.48301374499999999 -0.086187198000000007 -0.87136071100000001 -2.0542952400000001 0 0 0 1"/>
      <metadata key="source_file" value="plate_somalia.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="59.036863327026367"/>
      <metadata key="source_offset_y" value="-22.587017059326172"/>
      <metadata key="source_offset_z" value="-65.24921989440918"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="40" subtype="normal_part">
      <metadata key="name" value="plate_philippine.obj"/>
      <metadata key="matrix" value="0.48130574399999998 -0.43789283699999998 0.75933829399999997 9.7804217900000001 -0.52908664999999999 0.54554203099999998 0.64996246800000002 39.698383300000003 -0.69886486400000003 -0.71458642299999997 0.0308892591 -11.347389700000001 0 0 0 1"/>
      <metadata key="source_file" value="plate_philippine.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-62.772270202636719"/>
      <metadata key="source_offset_y" value="28.702463150024414"/>
      <metadata key="source_offset_z" value="-65.935211181640625"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="44">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <part id="42" subtype="normal_part">
      <metadata key="name" value="plate_antarctica2.obj"/>
      <metadata key="matrix" value="0.33120097799999998 0.033800082000000002 -0.94295464699999998 2.8772783899999999 -0.0155376213 0.999418056 0.030366611000000002 11.028900200000001 0.94343229500000003 0.0045938208900000001 0.33153340999999997 -13.4099737 0 0 0 1"/>
      <metadata key="source_file" value="plate_antarctica2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="16.15708065032959"/>
      <metadata key="source_offset_y" value="-71.352996826171875"/>
      <metadata key="source_offset_z" value="-2.5701980590820312"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="43" subtype="normal_part">
      <metadata key="name" value="plate_south_america2.obj"/>
      <metadata key="matrix" value="-0.049286006100000002 0.90076458299999995 0.43150209 -10.495557 -0.71212697199999997 0.27123283100000001 -0.64753990400000006 -10.8361058 -0.70031854599999999 -0.33919893299999998 0.62809077300000005 -13.6495429 0 0 0 1"/>
      <metadata key="source_file" value="plate_south_america2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="42.576129913330078"/>
      <metadata key="source_offset_y" value="-27.065168380737305"/>
      <metadata key="source_offset_z" value="55.125415802001953"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="47">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <part id="45" subtype="normal_part">
      <metadata key="name" value="plate_india.obj"/>
      <metadata key="matrix" value="0.67843278200000001 -0.71618486699999995 -0.163732087 6.2249371 -0.33495940200000002 -0.49989687500000002 0.79868974599999998 79.8689325 -0.65385866999999998 -0.48701370399999999 -0.57903928299999996 -6.08665111 0 0 0 1"/>
      <metadata key="source_file" value="plate_india.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="20.707386016845703"/>
      <metadata key="source_offset_y" value="22.18349552154541"/>
      <metadata key="source_offset_z" value="-87.415145874023438"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="46" subtype="normal_part">
      <metadata key="name" value="plate_eurasia1.obj"/>
      <metadata key="matrix" value="-0.28350891700000003 -0.85109533800000003 0.44188168100000003 -17.928941099999999 0.74962541999999999 0.090684476200000003 0.65562036000000001 -13.108704899999999 -0.59806724 0.51711995799999999 0.61229284299999998 -12.869398500000001 0 0 0 1"/>
      <metadata key="source_file" value="plate_eurasia1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="13.605554580688477"/>
      <metadata key="source_offset_y" value="74.726800918579102"/>
      <metadata key="source_offset_z" value="-19.977149963378906"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="50">
    <metadata key="name" value="Assembly"/>
    <metadata key="extruder" value="1"/>
    <part id="48" subtype="normal_part">
      <metadata key="name" value="plate_caroline.obj"/>
      <metadata key="matrix" value="-0.68492802399999997 0.031075954699999998 0.72794772399999996 4.4566048599999997 0.71922107800000001 0.18871595099999999 0.66866084999999997 12.780109400000001 -0.11659607299999999 0.98153990000000002 -0.15160732499999999 -10.761027199999999 0 0 0 1"/>
      <metadata key="source_file" value="plate_caroline.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-68.166671752929688"/>
      <metadata key="source_offset_y" value="-1.881591796875"/>
      <metadata key="source_offset_z" value="-63.069719314575195"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="49" subtype="normal_part">
      <metadata key="name" value="plate_sunda.obj"/>
      <metadata key="matrix" value="0.90291964499999999 -0.31907685099999999 -0.28796888199999998 -9.7332043299999995 0.190920284 -0.30252009899999999 0.93382602000000003 -5.7169661200000004 -0.385078641 -0.89814895900000002 -0.21223309700000001 -3.95364512 0 0 0 1"/>
      <metadata key="source_file" value="plate_sunda.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-34.875396966934204"/>
      <metadata key="source_offset_y" value="8.864262580871582"/>
      <metadata key="source_offset_z" value="-87.001125335693359"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="2">
    <metadata key="name" value="core_outer.obj"/>
    <metadata key="brim_type" value="outer_only"/>
    <metadata key="extruder" value="7"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="core_outer.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="core_outer.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-27.774767450988293"/>
      <metadata key="source_offset_y" value="28.031606294214725"/>
      <metadata key="source_offset_z" value="3.814697265625e-06"/>
      <metadata key="extruder" value="7"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="22">
    <metadata key="name" value="plate_south_america1.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="21" subtype="normal_part">
      <metadata key="name" value="plate_south_america1.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_south_america1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="73.552211761474609"/>
      <metadata key="source_offset_y" value="-27.860132217407227"/>
      <metadata key="source_offset_z" value="39.807621359825134"/>
      <metadata key="extruder" value="8"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="24">
    <metadata key="name" value="plate_africa1.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="23" subtype="normal_part">
      <metadata key="name" value="plate_africa1.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_africa1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="77.936441421508789"/>
      <metadata key="source_offset_y" value="-4.9062461853027344"/>
      <metadata key="source_offset_z" value="-22.57857608795166"/>
      <metadata key="extruder" value="4"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="26">
    <metadata key="name" value="plate_africa2.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="25" subtype="normal_part">
      <metadata key="name" value="plate_africa2.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_africa2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="76.254478454589844"/>
      <metadata key="source_offset_y" value="-9.2304801940917969"/>
      <metadata key="source_offset_z" value="16.517566680908203"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="28">
    <metadata key="name" value="plate_eurasia2.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="27" subtype="normal_part">
      <metadata key="name" value="plate_eurasia2.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_eurasia2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="22.392654418945312"/>
      <metadata key="source_offset_y" value="54.940319061279297"/>
      <metadata key="source_offset_z" value="-36.797795295715332"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="30">
    <metadata key="name" value="plate_north_america1.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="29" subtype="normal_part">
      <metadata key="name" value="plate_north_america1.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_north_america1.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="16.045347213745117"/>
      <metadata key="source_offset_y" value="63.382539749145508"/>
      <metadata key="source_offset_z" value="32.006872177124023"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="32">
    <metadata key="name" value="plate_north_america2.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="31" subtype="normal_part">
      <metadata key="name" value="plate_north_america2.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_north_america2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-15.098199844360352"/>
      <metadata key="source_offset_y" value="59.699106216430664"/>
      <metadata key="source_offset_z" value="37.00901985168457"/>
      <metadata key="extruder" value="8"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="34">
    <metadata key="name" value="plate_pacific2.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="33" subtype="normal_part">
      <metadata key="name" value="plate_pacific2.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_pacific2.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-60.269565582275391"/>
      <metadata key="source_offset_y" value="4.7917919158935547"/>
      <metadata key="source_offset_z" value="24.81971549987793"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="36">
    <metadata key="name" value="plate_pacific3.obj"/>
    <metadata key="extruder" value="1"/>
    <part id="35" subtype="normal_part">
      <metadata key="name" value="plate_pacific3.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="plate_pacific3.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-54.920536041259766"/>
      <metadata key="source_offset_y" value="-44.498949944972992"/>
      <metadata key="source_offset_z" value="38.52961540222168"/>
      <metadata key="extruder" value="8"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="7">
    <metadata key="name" value="core_outer.obj"/>
    <metadata key="brim_type" value="outer_only"/>
    <metadata key="extruder" value="7"/>
    <metadata key="infill_anchor_max" value="20"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="core_outer.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="core_outer.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-27.774767450988293"/>
      <metadata key="source_offset_y" value="28.031606294214725"/>
      <metadata key="source_offset_z" value="3.814697265625e-06"/>
      <metadata key="extruder" value="7"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="8">
    <metadata key="name" value="core_outer.obj"/>
    <metadata key="brim_type" value="outer_only"/>
    <metadata key="extruder" value="7"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="core_outer.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="core_outer.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-27.774767450988293"/>
      <metadata key="source_offset_y" value="28.031606294214725"/>
      <metadata key="source_offset_z" value="3.814697265625e-06"/>
      <metadata key="extruder" value="7"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="5">
    <metadata key="name" value="core_inner.obj"/>
    <metadata key="enable_support" value="0"/>
    <metadata key="extruder" value="5"/>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="core_inner.obj"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="core_inner.obj"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-9.6123335622251034"/>
      <metadata key="source_offset_y" value="9.5367431640625e-07"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="5"/>
      <mesh_stat edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="Inner Core (2x identical)"/>
    <metadata key="locked" value="false"/>
    <metadata key="first_layer_print_sequence" value="5 3 2 4 7 6 1 8"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="4"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="451"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="5"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="461"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="Outer Core (4x identical)"/>
    <metadata key="locked" value="false"/>
    <metadata key="first_layer_print_sequence" value="7 3 2 4 5 6 1 8"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <model_instance>
      <metadata key="object_id" value="2"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="441"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="481"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="7"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="501"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="8"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="521"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="Mantle North (1 - 4)"/>
    <metadata key="locked" value="false"/>
    <metadata key="first_layer_print_sequence" value="1 6 3 4 5 2 7 8"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
    <model_instance>
      <metadata key="object_id" value="60"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="791"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value="Mantle South (5 - 8)"/>
    <metadata key="locked" value="false"/>
    <metadata key="first_layer_print_sequence" value="1 6 3 4 5 2 7 8"/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_4.png"/>
    <metadata key="top_file" value="Metadata/top_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
    <model_instance>
      <metadata key="object_id" value="55"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="766"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value="Tectonic Plate Pieces"/>
    <metadata key="locked" value="false"/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_5.png"/>
    <metadata key="top_file" value="Metadata/top_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
    <model_instance>
      <metadata key="object_id" value="10"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="541"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="551"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="14"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="561"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="16"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="571"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="18"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="581"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="20"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="591"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="22"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="601"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="24"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="611"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="26"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="621"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="28"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="631"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="30"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="641"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="32"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="651"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="34"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="661"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="36"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="671"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="41"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="696"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="44"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="711"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="47"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="726"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="50"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="741"/>
    </model_instance>
    <model_instance>
      <metadata key="object_id" value="65"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="816"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="10" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 9.9650993347167969" offset="0 0 0" />
   <assemble_item object_id="12" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 17.092235565185547" offset="0 0 0" />
   <assemble_item object_id="14" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 18.776130676269531" offset="0 0 0" />
   <assemble_item object_id="16" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 56.133199691772461" offset="0 0 0" />
   <assemble_item object_id="18" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 56.133207321166992" offset="0 0 0" />
   <assemble_item object_id="20" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 80.685958862304688" offset="0 0 0" />
   <assemble_item object_id="55" instance_id="0" transform="1 0 0 0 1 0 0 0 1 135.56473966696387 -179.04074202833743 47.844298523279754" offset="0 0 0" />
   <assemble_item object_id="60" instance_id="0" transform="1 0 0 0 1 0 0 0 1 750.56165281873109 123.8018243623271 47.843122482299805" offset="0 0 0" />
   <assemble_item object_id="65" instance_id="0" transform="1 0 0 0 1 0 0 0 1 389.9442521271917 -76.342962684980307 35.604519907070355" offset="0 0 0" />
   <assemble_item object_id="4" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 19.122356414794922" offset="0 0 0" />
   <assemble_item object_id="6" instance_id="0" transform="2.2204460492503131e-16 0 -1 0 1 0 1 0 2.2204460492503131e-16 462.7747802734375 128 27.574769020080559" offset="0 0 0" />
   <assemble_item object_id="41" instance_id="0" transform="1 0 0 0 1 0 0 0 1 545.55653372714573 -213.54655332022676 31.567999643828756" offset="0 0 0" />
   <assemble_item object_id="44" instance_id="0" transform="1 0 0 0 1 0 0 0 1 394.48922798463627 -175.41333417086361 27.619122068286373" offset="0 0 0" />
   <assemble_item object_id="47" instance_id="0" transform="1 0 0 0 1 0 0 0 1 520.60676526968064 -193.03996752457962 31.229463708401827" offset="0 0 0" />
   <assemble_item object_id="50" instance_id="0" transform="1 0 0 0 1 0 0 0 1 500.04491952732837 -69.678883998024787 26.777173238665085" offset="0 0 0" />
   <assemble_item object_id="2" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 55.34490966796875" offset="0 0 0" />
   <assemble_item object_id="22" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 37.628650665283203" offset="0 0 0" />
   <assemble_item object_id="24" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 41.854286193847656" offset="0 0 0" />
   <assemble_item object_id="26" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 52.757801055908203" offset="0 0 0" />
   <assemble_item object_id="28" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 59.136606216430664" offset="0 0 0" />
   <assemble_item object_id="30" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 55.941568374633789" offset="0 0 0" />
   <assemble_item object_id="32" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 60.193426132202148" offset="0 0 0" />
   <assemble_item object_id="34" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 72.46563720703125" offset="0 0 0" />
   <assemble_item object_id="36" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 59.020204544067383" offset="0 0 0" />
   <assemble_item object_id="7" instance_id="0" transform="2.2204460492503131e-16 0 -1 0 1 0 1 0 2.2204460492503131e-16 462.7747802734375 128 27.574769020080559" offset="0 0 0" />
   <assemble_item object_id="8" instance_id="0" transform="2.2204460492503131e-16 0 -1 0 1 0 1 0 2.2204460492503131e-16 462.7747802734375 128 27.574769020080559" offset="0 0 0" />
   <assemble_item object_id="5" instance_id="0" transform="2.2204460492503131e-16 0 -1 0 1 0 1 0 2.2204460492503131e-16 101.47696685791016 124.51697540283205 9.512334346771242" offset="0 0 0" />
  </assemble>
</config>
